a.search-for span:before {
    font-family: "Atlassian Icons";
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-size: 16px;
    border: none;
    line-height: 1;
    /* This icon font glyph value may change between AUI versions. Check when performing AUI upgrade */
    content: "\f18c"; /* aui-icon aui-icon-small aui-iconfont-search */
}

/* Override of drop-down to make it look aui-like*/
#com-atlassian-confluence .aui-dd-parent .aui-dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    padding: 0;
}

#quick-search .aui-dd-parent .aui-dropdown {
    margin-top: -2px;
}

#com-atlassian-confluence .aui-dd-parent .aui-dropdown ol {
    padding: 3px 0;
}

#quick-search .aui-dropdown li a span {
    background-position: 6px center;
    padding-left: 30px;
    line-height: 25px;
}

#quick-search .aui-dropdown .search-for span {
    padding-left: 0; /* using icon font, so no need for left padding*/
}

#header .aui-dd-parent,
#header .aui-dropdown {
    width: 315px;
    position: absolute;
}

#header .quick-nav-drop-down li a,
.aui-header .quick-nav-drop-down li a{
    color: #172b4d;
    padding: 0;
}

#header .quick-nav-drop-down li.active a,
.aui-header .quick-nav-drop-down li.active a{
    color: #fff;
}


#header .quick-nav-drop-down .aui-dropdown li a.space-name,
.aui-header .quick-nav-drop-down .aui-dropdown li a.space-name{
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    padding-left: 30px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header .quick-nav-drop-down .aui-dropdown li.active a.space-name,
.aui-header .quick-nav-drop-down .aui-dropdown li.active a.space-name {
    color: #FFF;
}

.quick-nav-drop-down li,
.quick-nav-drop-down li span {
    cursor: pointer;
}

.quick-nav-drop-down li span em {
    font-style: normal;
}

.quick-nav-drop-down .aui-dropdown li.with-space-name {
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}