/*************************************************************
 * NOTE: Smartsprites used to generate sprites automatically *
 *************************************************************/

/** sprite: macro-icons; sprite-image: url('../../../images/sprites/macro-icons.png'); sprite-layout: horizontal */
#macro-browser-dialog .icon-content-by-user {
    background-image: url(../../../images/icons/macrobrowser/content-by-user.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-children {
    background-image: url(../../../images/icons/macrobrowser/children.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-search {
    background-image: url(../../../images/icons/macrobrowser/search.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-index {
    background-image: url(../../../images/icons/macrobrowser/pageindex.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-blog-posts {
    background-image: url(../../../images/icons/macrobrowser/blog-posts.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-excerpt {
    background-image: url(../../../images/icons/macrobrowser/excerpt.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-excerpt-include {
    background-image: url(../../../images/icons/macrobrowser/excerpt-include.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-include {
    background-image: url(../../../images/icons/macrobrowser/include.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-gallery {
    background-image: url(../../../images/icons/macrobrowser/gallery.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-change-history {
    background-image: url(../../../images/icons/macrobrowser/change-history.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-popular-labels {
    background-image: url(../../../images/icons/macrobrowser/popular-labels.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-contentbylabel {
    background-image: url(../../../images/icons/macrobrowser/contentbylabel.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-favpages {
    background-image: url(../../../images/icons/macrobrowser/favpages.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-related-labels {
    background-image: url(../../../images/icons/macrobrowser/related-labels.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-recently-updated {
    background-image: url(../../../images/icons/macrobrowser/recently-updated.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-navmap {
    background-image: url(../../../images/icons/macrobrowser/navmap.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-listlabels {
    background-image: url(../../../images/icons/macrobrowser/listlabels.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-anchor {
    background-image: url(../../../images/icons/macrobrowser/anchor.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-quote {
    background-image: url(../../../images/icons/macrobrowser/quote.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-noformat {
    background-image: url(../../../images/icons/macrobrowser/noformat.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-panel {
    background-image: url(../../../images/icons/macrobrowser/panel.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-color {
    background-image: url(../../../images/icons/macrobrowser/colour.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-cheese {
    background-image: url(../../../images/icons/macrobrowser/cheese.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-jiraissues {
    background-image: url(../../../images/icons/macrobrowser/jiraissues.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-pagetree {
    background-image: url(../../../images/icons/macrobrowser/pagetree.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-pagetreesearch {
    background-image: url(../../../images/icons/macrobrowser/pagetreesearch.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-web-widget,
#macro-browser-dialog .icon-widget {
    background-image: url(../../../images/icons/macrobrowser/widgetconnector.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-section {
    background-image: url(../../../images/icons/macrobrowser/section.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-column {
    background-image: url(../../../images/icons/macrobrowser/column.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-livesearch {
    background-image: url(../../../images/icons/macrobrowser/livesearch.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-code {
    background-image: url(../../../images/icons/macrobrowser/code.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-html {
    background-image: url(../../../images/icons/macrobrowser/html.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-rss {
    background-image: url(../../../images/icons/macrobrowser/rssfeed.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-bookmarks {
    background-image: url(../../../images/icons/macrobrowser/bookmarks.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-toc {
    background-image: url(../../../images/icons/macrobrowser/toc.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-spaces {
    background-image: url(../../../images/icons/macrobrowser/spaces.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-space-details {
    background-image: url(../../../images/icons/macrobrowser/space-details.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-network {
    background-image: url(../../../images/icons/macrobrowser/network.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-profile {
    background-image: url(../../../images/icons/macrobrowser/profile.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-status-list {
    background-image: url(../../../images/icons/macrobrowser/status-list.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-chart {
    background-image: url(../../../images/icons/macrobrowser/chart.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-viewdoc {
    background-image: url(../../../images/icons/macrobrowser/viewdoc.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-viewpdf {
    background-image: url(../../../images/icons/macrobrowser/viewpdf.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-viewppt {
    background-image: url(../../../images/icons/macrobrowser/viewppt.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-viewxls {
    background-image: url(../../../images/icons/macrobrowser/viewxls.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-contributors {
    background-image: url(../../../images/icons/macrobrowser/contributors.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-contributors-summary {
    background-image: url(../../../images/icons/macrobrowser/contributors-summary.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-multimedia {
    background-image: url(../../../images/icons/macrobrowser/multimedia.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-details {
    background-image: url(../../../images/icons/macrobrowser/details.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-detailssummary {
    background-image: url(../../../images/icons/macrobrowser/detailssummary.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-content-report-table {
    background-image: url(../../../images/icons/macrobrowser/content-report-table.png); /** sprite-ref: macro-icons; */
}
#macro-browser-dialog .icon-marketplace {
    background-image: url(../../../images/icons/marketplace-ico.png); /** sprite-ref: macro-icons; */
}
