<html>
    <head>
        <title>$action.getText("title.setup.datasource.database.data.exists")</title>
    </head>

    <body>
        #parse ("/setup/analytics-data.vm")
        #parse ( "/template/includes/actionerrors.vm" )

        <p>$action.getText("setup.datasource.database.data.exists")</p>

        <form id="setup-db-fail-form" class="aui">
            <div class="buttons-container">
                <div class="buttons">
                    <a href="$req.contextPath/setup/setupdatasourcedb.action?database=$database&forceOverwriteExistingData=true&datasourceName=$htmlUtil.urlEncode($datasourceName)&#url_xsrfToken()" class="setup-db-fail-button">#setupButton("", "", $action.getText("setup.datasource.overwrite.existing.data"), "", false)</a>
                    <a href="$req.contextPath/setup/setupdbchoice-start.action?database=$database" class="setup-db-fail-button aui-button aui-button-link">$action.getText("restart.database.setup")</a>
                </div>
            </div>
        </form>
    </body>
</html>
