<html>
	<head>
		<title>$action.getText("title.editusergroups") #if ($user): $user.name #end</title>
		<meta name="help-path" content="/admin/users/help/editusergroups.vm"/>

        #requireResource("confluence.web.resources:edit-user-group-resources")
	</head>

	<body>
        #parse ( "/template/includes/actionerrors.vm" )

        #if ($user)
            &laquo; <a href="viewuser.action?username=$generalUtil.doubleUrlEncode($user.name)">$action.getText("view.user") $user.name</a><br/>
            <form action="editusergroups.action" method="post" id="editusergroupsform" class="confluence-admin">
                #form_xsrfToken()                
                <fieldset class="group">
                    <legend><span>$action.getText("select.group.membership", [$htmlUtil.htmlEncode($user.name)])</span></legend>
                    #foreach ($group in $allWriteableGroups)
                        <div class="checkbox">
                            <input type="checkbox" name="newGroups" id="$group" value="$group" #if($action.isMember($group)) checked="checked" #end>
                            <label for="$group">$group</label>
                        </div>
                    #end
                    #tag ("Hidden" "name='username'" "value=username")
                </fieldset>
                <div class="submit">
                    #tag( "Submit" "id=save-btn1" "name='save'" "value='save.name'" "theme='notable'" )
                    <span class="bulk-select"><a href="#" id="editusergroups-selectall" class="select-all">$action.getText("select.all.groups")</a> &middot; <a href="#" id="editusergroups-selectnone" class="select-none">$action.getText("deselect.all.groups")</a></span>
                </div>
            </form>
            #end

		#parse ( "/breadcrumbs.vm" )
	</body>
</html>
