<html>
	<head>
		<title>$action.getText("title.reactivate.user", ["$!user.fullName"])</title>
	</head>

	<body>
		#parse ( "/template/includes/actionerrors.vm" )

        #if ($actionErrors.size() == 0)
   		    #if ($user)
                    &laquo; <a href="viewuser.action?username=$generalUtil.doubleUrlEncode($user.name)">$action.getText("return.to.view.user"): $user.name</a><br>
            #end

			#applyDecorator ("configurable-confirm")
				<p>$action.getText("user.reactivate.prompt.name", ["$user.fullName"])</p>
					#if($action.getUserReactivationInformation().size() > 0)
					<p>$action.getText("user.reactivate.action.consequences")</p>
					<ul>
						#foreach($item in $action.getUserReactivationInformation()) <li>$item</li> #end
					</ul>
					#end
				#tag( "Hidden" "name='username'" "value='$htmlUtil.urlEncode($user.name)'" )
				#decoratorParam ("formAction" "reactivateuser-confirm.action")
				#decoratorParam ("formName" "reactivateUser")
				#decoratorParam ("submitText", $action.getText("user.reactivate.confirm"))
			#end
    	#end

		#parse ( "/breadcrumbs.vm" )
	</body>
</html>