<html>
	<head>
		<title>$action.getText("title.remove.group")</title>
		<meta name="help-path" content="/admin/users/help/removegroup.vm"/>
	</head>

	<body>
        <content tag="selectedWebItem">groups</content>
        &laquo; <a href="browsegroups.action">$action.getText("return.to.group.browser")</a><br/>
        #parse ( "/template/includes/actionerrors.vm" )
        <p>
        #if ($actionErrors.size() == 0)
            #set ($warningCounter = 0)

            #if ($action.getGlobalPermissionsForThisGroup().size() > 0)
                #set ($warningCounter = 1)
                <strong>$action.getText('global.perms.assigned')</strong> <br>
                <ul>
                #foreach ($perm in $action.getGlobalPermissionsForThisGroup())
                    <li>$action.getText("permissions.$perm.type")<br>
                #end
                </ul>
            #end
            <p>
            #set ($counter = 0)
            #foreach ($space in $action.getSpaces())

                #if ($action.getGroupSpacePermissionsForSpace($space).size() > 0)
                    #set ($warningCounter = 1)
                    #set ($counter = $counter + 1)
                    #if ($counter == 1)
                        $action.getText('space.perms.assigned') <br>
                    #end

                    #foreach ($perm in $action.getGroupSpacePermissionsForSpace($space))
                        <strong>$space.key</strong>: $action.getText("spacepermissions.$perm.type")<br>
                    #end<br>
                #end
            #end

            #if ($warningCounter > 0)
                $action.getText('note.perms.will.be.removed')
            #end

            <div class="centered">
		        <form name="removegroupform" method="POST" action="doremovegroup.action">
                    #form_xsrfToken()
                    <table>
                        #if ($action.hasMembers() )
						<tr>
							<td>$action.getText("group.delete.hasUsers", [$htmlUtil.htmlEncode($action.name)])</td>
						</tr>
                        #end
                        <tr>
                            <td colspan="2">$action.getText("group.delete.message", ["$htmlUtil.htmlEncode($action.name)"])</td>
                        </tr>

						#tag( "Hidden" "name='name'" "value=group.name" )

						<tr>
							<td colspan="2" align="center">
				                #tag( "Submit" "name='confirm'" "value='confirm.name'" "theme='notable'" )
				                #tag( "Submit" "name='cancel'" "value='cancel.name'" "theme='notable'" )
							</td>
						</tr>
                    </table>
                </form>
			</div>
        #end

		#parse("/breadcrumbs.vm")
	</body>
</html>