#move-blogpost-dialog .new-space-value {
    width: 100%;
}

#move-blogpost-dialog .move-errors {
    padding-top: 10px;
}

#move-blogpost-dialog .dialog-button-panel .button-spinner {
    display: inline-block;
    margin-right: 13px;
}