@import "colors.less";

/* PDL default-theme.less */
#breadcrumbs {
    padding: 0;
    margin: 0;
    font-size: 0;
}

#breadcrumbs li {
    display: inline-block;
    font-size: 14px;
    color: @charcoal;
}

#breadcrumbs li:before {
    content: "/";
    display: inline-block;
    padding: 0 2px 0 6px;
}

#breadcrumbs li:first-child:before {
    display: none;
}

#ellipsis {
    cursor: pointer;
}

.page-metadata {
    margin: -15px 0 20px;
}

.page-metadata ul {
    padding: 0;
    list-style-type: none;
    line-height: 16px;
}

.page-metadata,
.page-metadata ul li a:link,
.page-metadata ul li a:focus,
.page-metadata ul li a:hover,
.page-metadata ul li a:active,
.page-metadata ul li a:visited{
    font-size: 12px;
    color: @adg-N300-clooney;
    line-height: 1.5;
    font-weight: 300;
}

.page-metadata .modified{
    margin-left:5px;
}

.has-sidebar #content.edit form.markup,
.has-sidebar .wiki-content,
.has-sidebar.active-wikimarkup .errorBox{
    margin-right: 17em;
}

.has-sidebar #content.space {
    margin-right: 18em;
}
#sidebar,
.sidebar {
    clear: right;
    float: right;
    width: 16em;
    margin-left: 10px;
    padding: 10px;
}

.content-preview #main {
    min-height: 0;
}

body.popup-window,
body.content-preview,
.content-preview.aui-theme-default {
    background-color: #fff; /* override aui-theme-default background */
}

.content-preview.aui-theme-default #main.aui-page-panel {
    border: 0;
}

#title-heading.with-breadcrumbs img {
    margin-right:  10px;
    float: left;
}

.edit-link {
    float: right;
}
/* End PDL default-theme.less */
