.aui-dialog2.warning .aui-dialog2-header .aui-icon{vertical-align:middle;margin-right:8px;color:#ffab00}.aui-dialog2.warning .aui-dialog2-footer-actions .aui-button-primary{background-color:#ffab00;color:#172b4d}