@import "colors.less";

.togglemeonlytreenode {
    text-decoration: none;
    text-align: left;
    background-image: url(../../../images/icons/select_only_button.png);
    padding-left: 2.5em;
    background-color: @adg-N0-doctor;
    background-position: 7px 50%;
    background-repeat: no-repeat;
    display: none;
}

.export-space-body {
    margin: 10px;
}

/*This is initially hidden until the user selects the custom export option*/
#export-comments-attachments-options-container,
#export-content-tree-container {
    display: none;
}

.export-custom-options-container {
    padding-left: 10px;
}

#exportContentTree li.content-tree-node,
#exportContentTree ul.content-tree-node-children {
    list-style:none
}

#exportContentTree .exportContentTreeCheckbox {
    vertical-align: middle
}

.export-container {
    position: relative; /* You'll want to leave this alone for IE8's sake */
}

/* Override aui right alignment */
.export-container .group legend span {
    text-align: left;
}

.tree-container {
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px;
}

.export-container .centered {
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
}

#exportContentTree {
    padding-left: 0;
}

.export-container ul.options {
    display: inline;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.export-container ul.options li {
    display: inline;
    border: 0;
}

.export-container ul.options li:before {
    padding: 0px 4px;
    content: '\22C5'; /* middot */
    color: #000000;
}

.export-container ul.options li:first-child:before { /* left-most comment option -- no left middot */
    display: none;
    /* possibly need padding-left: 0; */
}

.export-container ul.options :first-child {
    border: none;
    padding-left: 0;
}