/* Manage Watchers dialog styles */

/* Styles below are generic and should be migrated to dialog.less eventually */


#manage-watchers-dialog .user-list,
#manage-watchers-dialog li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#manage-watchers-dialog .user-list {
    margin: 10px 0;
}
#manage-watchers-dialog li {
    line-height: 24px;
}
#manage-watchers-dialog .loading {
    background: url(../../images/icons/wait.gif) no-repeat left 50%;
    color: #666;
    padding-left: 20px;
}


/* Styles below are specific to the Manage Watchers layout and functionality*/

#manage-watchers-dialog .no-users {
    font-style: italic;
}

#manage-watchers-dialog .watch-user {
    overflow: hidden; /* enclose floats */
    margin-bottom: 5px;
}
#manage-watchers-dialog li.removing,
#manage-watchers-dialog ul.updating {
    opacity: 0.5;
}
#manage-watchers-dialog .watch-user a {
    color: #333;
    float: left;
    text-decoration: none;
    cursor: default;
    max-width: 360px;
    overflow: hidden;
}
#manage-watchers-dialog .watch-user .username {
    color: #666;
    font-size: 12px;
}
#manage-watchers-dialog .profile-picture {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    float: left;
    border-radius: 2px;
}
#manage-watchers-dialog .remove-watch {
    float: right;
    background: url(../../images/icons/trash_16.gif) no-repeat 50% 50%;
    text-indent: -9999px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

#manage-watchers-dialog form .status {
    margin-top: 5px;
}
#manage-watchers-dialog form .error {
    background-color: transparent;
    color: #900;
}

/* Autocomplete styling */
#manage-watchers-dialog form {
    position: relative;
    overflow: visible;
    margin: 10px 0 5px;
}
#manage-watchers-dialog #add-page-watcher-user,
#manage-watchers-dialog #add-space-watcher-user{
    margin-top: 10px;
    margin-right: 10px;
}
#manage-watchers-dialog .aui-dd-parent .aui-dropdown {
    width: 18em;
}
