ul.ui-tree {
    line-height: 1.4;
}

.ui-tree li.append {
    background-color: #eee;
}
.ui-tree li.above {
    background: url(../../../images/ddtree/tree-anchor.png) repeat-x;
}
.ui-tree li.below {
    background: url(../../../images/ddtree/tree-anchor.png) repeat-x 0 100%;
}
.ui-tree li a {
    line-height: 20px;
    display: block;
    padding: 5px;
    float: left;
    background-position: 0 center;
}

.ui-tree li .button-panel {
    float: left;
    margin: 5px 0;
    height: 16px;
    display: inline;
}
ul.is-dragging li .button-panel {
    display: none;
}
.ui-tree li a.abc,
.ui-tree li a.remove-node,
.ui-tree li a.preview-node {
    padding: 0;
    float: left;
    left: 300px;
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
    margin-top: 3px;
}

.ui-tree li a.remove-node,
.ui-tree li a.preview-node {
    background: none;
}

.ui-tree li a.rollback {
    display: none;
    color: #42526E;
}
.ui-tree li a.remove-node {
    background: url(../../../images/icons/delete_16.png) no-repeat;
    left: 320px;
    display: none;
}
.ui-tree li a.preview-node {
    background: url(../../../images/icons/view_16.png) no-repeat;
    left: 280px;
    display: none;
}
.ui-tree li .hover a.remove-node,
.ui-tree li .hover a.preview-node {
    display: block;
}
.ui-tree li div.preview-summary {
    background-color: #f0f0f0;
    padding: 1em;
    clear: both;
    width: 80em;
}
.ui-tree li span.preview-excerpt {
    font-family: monospace;
}
.ui-tree, .ui-tree ul {
    margin: 0;
    padding: 0;
}
.ui-tree li {
    list-style: none;
    margin: 0;  
    padding: 0 0 0 1.23em;
    overflow: hidden;
    width: 100%;
    clear: left;
}
.ui-tree li .click-zone {
    float: left;
    width: 16px;
    height: 16px;
    display: inline;
    margin: 8px 0 5px -1.23em;
}

.ui-tree li a.trash {
    background-image: url(../../../images/ddtree/trash.png);
}
.ui-tree li.tree-helper {
    padding-left: 25px;
}

@keyframes flash {
    0% {background: #d8e4f1;}
    100% {background: none;}
}

.ui-tree li.flash {
    animation: flash 0.5s;
}

.ui-tree li.highlighted a {
    background-color: #d8e4f1;
}

.ui-tree li.highlighted li a {
    background-color: transparent;
}
.ui-tree .tree-helper strong {
    position: absolute;
    top: 0;
    left: 0;
    background: no-repeat;
    width: 20px;
    height: 20px;
}
.ui-tree .no strong {
    background-image: url(../../../images/ddtree/no.png);
}
.ui-tree li.unclickable a {
    text-decoration: none;
    color: #000;
    cursor: default;
}

div.tree-container {
    padding:10px;
}
div.tree-message {
    margin-bottom: 1em
}
