#footer .footer-body,
#footer-logo a {
  background: url('images/brand-images/atlassian/atlassian-horizontal-neutral.svg') center bottom no-repeat;
  background-size: 127px 26px;
}
#footer-logo {
  background: #f5f5f5;
  position: relative;
  bottom: -21px;
}
#footer-logo a {
  display: block;
  height: 26px;
  margin: 0 auto;
  text-align: left;
  text-indent: -9999em;
  width: 127px;
}
#footer-logo a:focus,
#footer-logo a:hover,
#footer-logo a:active {
  background-image: url('images/brand-images/atlassian/atlassian-horizontal-blue.svg');
  background-size: 127px 26px;
}

#footer {
    box-sizing: border-box;
}
